.menu-item {
  max-width: 30%;
  height: 30vh;
  flex: 1 1 auto;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 20px #808080;
  margin: 0 7.5px 15px;
  background-position: center;
  background-size: cover;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 100%;
    display: grid;
    grid-template-rows: auto 10%;
    overflow: hidden;

    .title {
      padding: 20px 25px;
      font-size: 20px;
      color: #fff;
      display: flex;
      align-items: flex-end;
    }

    .subtitle {
      display: flex;
      align-items: center;
      padding: 0 25px;
      font-weight: bold;
      font-size: 12px;
      color: #a8a8a8;
      background: #fff;

      text-transform: uppercase;
    }
  }
}
